a:link {
  color: #005ea5;
}

a:visited {
  color: #4c2c92;
}

a:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
}

table th,
table td {
  vertical-align: top;
}

#global-cookie-message {
  background-color: #d5e8f3;
  padding: 10px 0;
}

.fb-sectionHeading {
  margin-top: 0;
}

.govuk-button p {
  display: inline-block;
  margin: 0;
}

.govuk-button.fb-action-secondary {
  text-align: left;
  text-decoration: underline;
  background: transparent;
  border-bottom-color: transparent;
  color:  #005ea5;
  box-shadow: none;
  padding-left: 0;
  border-left: none;
  margin-bottom: 0;
}

.fb-action-secondary:hover {
  background: transparent;
  color:  #2b8cc4;
}

.fb-group-blocks {
  position: relative;
}

.fb-repeatable-item--block {
  position: relative;
}

.fb-repeatable-item > .govuk-fieldset > legend.govuk-fieldset__legend {
  font-weight: bold;
}

.fb-repeatable-item .fb-action--delete {
  position: absolute;
  top: 0.25rem;
  right: 0;
  font-size: 75%;
  width: auto;
}

.fb-info-summary {
  border-color: #005ea5;
}

.fb-flash-summary {
  border-color: #006435;
}

.fb-info-summary .govuk-list li:last-child,
.fb-flash-summary .govuk-list li:last-child {
  margin-bottom: 0;
}

.govuk-hint p {
  margin: 0 0 5px;
}

input[type=file].govuk-file-upload::-webkit-file-upload-button {
  font-size: 1.25rem !important;
}

.govuk-summary-list__actions .govuk-button {
  margin-bottom: 0;
}

.govuk-summary-list__actions a.govuk-button {
  padding: 0;
}

fieldset .govuk-summary-list { // stylelint-disable-line no-descending-specificity
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .govuk-file-upload {
    width: 65%;
  }
}

@media (min-width: 55em) {
  .govuk-file-upload {
    width: auto;
  }
}

.fb-summary-list--file-key {
  font-weight: normal;
  padding-top: 5px;
}

.fb-summary-list--file-key em {
  font-style: normal;
  display: block;
  white-space: nowrap;
}

@media (min-width:40.0625em) {
  .fb-summary-list--file-key {
    padding-top: 0;
  }
  .fb-summary-list--file-key em {
    display: inline-block;
  }
}
