{
  "extends": [
    "standard",
    "plugin:json/recommended"
  ],
  "env": {
    "node": true,
    "es2020": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  }
}
