{%- macro textarea(data) %}
{% set params = setError(data) %}
{% set params = setLabel(params) %}
{% set params = setInputWidthClass(params) %}
{% if params.spellcheck %}
{% set attributes = setObjectProperty(params.attributes, 'spellcheck', params.spellcheck) %}
{% set params = setObjectProperty(params, 'attributes', attributes) %}
{% endif %}
{% set macroType = 'govukTextarea' %}
{% if params.validation.maxLength %}
{% set macroType = 'govukCharacterCount' %}
{% set params = setObjectProperty(params, 'maxlength', params.validation.maxLength) %}
{% endif %}
{% if params.maxwords %}
{% set macroType = 'govukCharacterCount' %}
{% endif %}
{{ callMacro(macroType, params) }}
{% endmacro -%}