{%- macro uploadSummary(data) %}
  {% if data.uploadedList.length %}
    <div class="govuk-form-group" data-block-id="{{ data._id }}">
      <h2 class="govuk-heading-m">
        {{ data.summaryListHeading }}
      </h2>

      {{ govukSummaryList({
        rows: data.uploadedList
      }) | indent(2) | trim }}
    </div>
  {% endif %}
{% endmacro -%}
