{% extends "template.njk" %}

{% block pageTitle %}{% if page.errorList %}Error: {% endif %}{% if page.heading %}{{ page.heading }}{% else %}{% if page.components[0].label.html %}{{ page.components[0].label.html }}{% else %}{{ page.components[0].legend.html }}{% endif %}{% endif %}{% if page._id != 'page.start' %} - {{ page.header.serviceName }}{% endif %} - GOV.UK{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/assets/stylesheets/app-{{version}}.css" />
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="/assets/stylesheets/app-ie8-{{version}}.css" />
  <![endif]-->
  <noscript>
    <meta http-equiv="refresh" content="{{ page.sessionDuration * 60
    }};url=/restricted/session-timeout">
  </noscript>
  {% block styles %}{% endblock %}

  {% if EXCLUDE_FROM_SEARCH_RESULTS %}
  <meta name="robots" content="noindex,nofollow">
  {% endif %}

  {% include "_analytics.njk.html" %}
{% endblock %}

{% block header %}
{% if environmentDisplay %}
  <div class="environment-display">
    {{ environmentDisplay }}
  </div>
{% endif %}
  {% block govHeader %}
    {% if page.header %}
    {{ callBlock(page.header) }}
    {% endif %}
  {% endblock %}
  {% block govPhase %}
  {% if page.service.phase !== 'none' %}
  <div class="govuk-width-container">
  {{ callMacro('govukPhaseBanner', {
    html: page.service.phaseText,
    tag: {
      html: page.service.phase
    }
    })
  }}
  </div>
  {% endif %}
  {% endblock %}
{% endblock %}

{% block bodyStart %}
  {% include "_analytics_noscript.njk.html" %}

  {{ callMacro('timeoutWarning', {
      showTimeoutWarning: page.showTimeoutWarning,
      sessionDuration: page.sessionDuration
    })
  }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container govuk-body-m">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main">
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block bodyEnd %}

<script src="/assets/javascripts/app-{{version}}.js"></script>
{% block scripts %}{% endblock %}
{% endblock %}
