{% extends "template.njk" %}

{% block pageTitle %}{% if page.errorList %}Error: {% endif %}{% if page.heading %}{{ page.heading }}{% else %}{% if page.components[0].label.html %}{{ page.components[0].label.html }}{% else %}{{ page.components[0].legend.html }}{% endif %}{% endif %}{% if page._id != 'page.start' %} - {{ page.header.serviceName }}{% endif %} - GOV.UK{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/assets/stylesheets/app-{{version}}.css" />
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="/assets/stylesheets/app-ie8-{{version}}.css" />
  <![endif]-->
  {% block styles %}{% endblock %}
{% endblock %}

{% block header %}
{% if environmentDisplay %}
  <div class="environment-display">
    {{ environmentDisplay }}
  </div>
{% endif %}
  {% block govHeader %}
    {% if page.header %}
    {{ callBlock(page.header) }}
    {% endif %}
  {% endblock %}
  {% block govPhase %}
  {% if page.service.phase !== 'none' %}
  <div class="govuk-width-container">
  {{ callMacro('govukPhaseBanner', {
    html: page.service.phaseText,
    tag: {
      html: page.service.phase
    }
    })
  }}
  </div>
  {% endif %}
  {% endblock %}
{% endblock %}

{% block main %}
  <div class="govuk-width-container govuk-body-m"
    data-module="govuk-timeout-warning" data-minutes-timeout="60">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main">
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}


{% block bodyEnd %}
{% block tracking %}
{% if not page.EDITMODE %}
{% if GA_TRACKING_ID %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_TRACKING_ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag(){dataLayer.push(arguments)}
  gtag('js', new Date())
  gtag('config', '{{ GA_TRACKING_ID }}', { 'anonymize_ip': true });
</script>
{% endif %}
{% endif %}
{% endblock %}
<script src="/assets/javascripts/app-{{version}}.js"></script>
{% block scripts %}{% endblock %}
{% endblock %}
