{% extends "base.njk.html" %}

{% block skipLink %}
{{ super() }}
{% block cookiesMessage %}
{% if page.cookieMessage %}
<div id="global-cookie-message">
<p class="CookieMessage govuk-body-s govuk-width-container">
<span data-block-name="CookieMessage">{{ page.cookieMessage | safe }}</a></span>
</p>
</div>
{% endif %}
{% endblock %}
{% endblock %}

{% block beforeContent %}
{% if page.previouspage -%}
{{ callMacro('govukBackLink', {
  "href": page.previouspage,
  "text": page.backLink
}) }}
{%- endif %}
{% endblock %}

{% block content %}

{% block errorContent %}
{% if page.errorList %}
{{ callMacro('govukErrorSummary', {
  titleHtml: page.errorTitle,
  errorList: page.errorList
}) }}
{% endif %}
{% endblock %}

{% block flashMessages %}
{% if page.flashMessages %}
{{ callMacro('flashmessages', {
  messages: page.flashMessages
})}}
{% endif %}
{% endblock %}

{% block prePageContentHeading %}{% endblock %}

<div class="fb-main-grid-wrapper fb-mode-{{page.EDITMODE}}" data-block-id="{{ page._id }}" data-block-type="page"{% if page.enableSteps or page.steps.length %} data-block-steps="yes"{% endif %} data-block-pagetype="{{ page._type }}">
<div class="govuk-grid-row">
{% set columns = 'two-thirds' %}
{% if page.columns %}
{% set columns = page.columns %}
{% endif %}
<div class="govuk-grid-column-{{ columns }}">

{% block pageContent %}

{% block pageContentHeading %}
{% if page._type !== 'page.start' -%}
{% if page.sectionHeading -%}
<p class="govuk-caption-l fb-sectionHeading" data-block-id="{{ page._id }}" data-block-property="sectionHeading">{{ page.sectionHeading | safe }}</p>
{%- endif %}
{%- endif %}
{% if page.heading -%}
<h1 class="{{ page.headingClass }}" data-block-id="{{ page.$headingId or page._id }}" data-block-property="{{ page.$headingProperty or 'heading' }}">{{ page.heading | safe }}</h1>
{% endif %}
{% if page.lede -%}
<p class="govuk-body-l" data-block-id="{{ page.$ledeId or page._id }}" data-block-property="{{ page.$ledeProperty or 'lede' }}">{{ page.lede | safe }}</p>
{%- endif %}
{% endblock %}

{% block pageContentBody %}
{% if page.body -%}
<div class="fb-body govuk-prose-scope" data-block-id="{{ page._id }}" data-block-property="body">{{ page.body | safe }}</div>
{%- endif %}

{% if page.EDITMODE != 'edit' %}
<form method="post"{% if page.action %} action="{{ page.action }}"{% endif %}{% if page.encType %} enctype="multipart/form-data"{% endif %}{% if page.autocomplete %} autocomplete="{{ page.autocomplete }}"{% endif %} novalidate>
{# default submit control - ie. triggered if user hits return in a text input #}
<input type="submit" style="display: none" aria-hidden="true">

{% if _csrf %}
<input type="hidden" name="_csrf" value="{{ _csrf }}">
{% endif %}

{% if page.changePage %}
<input type="hidden" name="changePage" value="{{ page.changePage }}">
{% endif %}

{% if page.uploadPage %}
<input type="hidden" name="uploadPage" value="{{ page.uploadPage }}">
{% endif %}
{% endif %}

{% block pageContentComponents %}
{{- callComponents(page, 'components') -}}
{% endblock %}

{% block pageContentAction %}

{% if page.actions %}
{{ callBlock(page.actions) }}
{% endif %}

{% if page.EDITMODE != 'edit' %}
</form>
{% endif %}

{% endblock %}

{% if page.extraComponents %}
{{- callComponents(page, 'extraComponents') -}}
{% endif %}
{% endblock %}

{% endblock %}

</div>
{% if page.asideComponents %}
<div class="govuk-grid-column-one-third">
{{- callBlocks(page.asideComponents) -}}
</div>
{% endif %}
</div>
</div>
{% endblock %}{# end content #}

{% block bodyEnd %}
{{ super() }}
<style type="text/css">
a:link {
    color: #005ea5;
}
a:visited {
  color: #4c2c92;
}
a:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
}

table th,
table td {
  vertical-align: top;
}

#global-cookie-message {
  background-color: #d5e8f3;
  padding: 10px 0;
}

.fb-sectionHeading {
  margin-top: 0;
}
.govuk-button p {
  display: inline-block;
  margin: 0;
}
.govuk-button.fb-action-secondary {
  text-align: left;
  text-decoration: underline;
  background: transparent;
  border-bottom-color: transparent;
  color: 	#005ea5;
  box-shadow: none;
  padding-left: 0;
  border-left: none;
  margin-bottom: 0;
}
.fb-action-secondary:hover {
  background: transparent;
  color: 	#2b8cc4;
}

.fb-action--add {
}

.fb-group-blocks {
  position: relative;
}
.fb-repeatable-item--block {
  position: relative;
}
.fb-repeatable-item > .govuk-fieldset > legend.govuk-fieldset__legend {
  font-weight: bold;
}
.fb-repeatable-item .fb-action--delete {
  position: absolute;
  top: 0.25rem;
  right: 0;
  font-size: 75%;
  width: auto;
}
.fb-info-summary {
  border-color: #005ea5;
}
.fb-flash-summary {
  border-color: #006435;
}

.fb-info-summary .govuk-list li:last-child,
.fb-flash-summary .govuk-list li:last-child {
  margin-bottom: 0;
}

.fb-summary-list--file-key {
  font-weight: normal;
}

.govuk-hint p {
  margin: 0 0 5px;
}

.fb-block-fileupload fieldset .govuk-form-group .govuk-error-message {
  display: none;
}

input[type=file].govuk-file-upload::-webkit-file-upload-button {
  font-size: 1.25rem !important;
}
{# ::-webkit-file-upload-button {
  background: #dee0e2;
  background: #f8f8f8;
  font-family: 'GDS Transport', sans-serif;
  border: 0;
  border-radius: 0px;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px 10px;
  box-shadow: 0 2px 0 #bfc1c3;
  box-shadow: 0 2px 0 #dee0e2;
} #}

.fb-form-group--fileupload-multiple {
  position: relative;
}

.fb-form-group--fileupload-multiple fieldset .govuk-form-group {
  border-top: solid 1px #bfc1c3;
  padding: 10px 0;
  margin-bottom: 0;
}
@media (min-width: 40.0625em) {
  .fb-form-group--fileupload-multiple fieldset .govuk-form-group {
    border-bottom: solid 1px #bfc1c3;
  }
}

.fb-form--fileupload-single .govuk-form-group {
  margin-bottom: 10px;
}

{# @media (min-width: 40.0625em) { #}
.fb-form--fileupload-single .govuk-hint {
  border-bottom: solid 1px #bfc1c3;
  padding-bottom: 10px;
}
{# } #}
.fb-form--fileupload-single .govuk-form-group--error  .govuk-hint {
  border-bottom: none;
  padding-bottom: 0;
}
.fb-form--fileupload-single  .govuk-error-message {
  border-bottom: solid 1px #bfc1c3;
  padding-bottom: 10px;
}

.fb-form--fileupload-single {
  border-bottom: solid 1px #bfc1c3;
  margin-bottom: 30px;
}

.fb-form-group--fileupload-multiple fieldset .govuk-form-group + .govuk-form-group,
.fb-form-group--fileupload-multiple fieldset .fb-control--fileupload--remove + .govuk-form-group {
  border-top: none;
}

.fb-block-fileupload .govuk-summary-list {
  border-top: solid 1px #bfc1c3;
}

.govuk-summary-list__actions .govuk-button {
  margin-bottom: 0;
}

.govuk-summary-list__actions a.govuk-button {
  padding: 0;
}

fieldset .govuk-summary-list {
  margin-bottom: 0;
}

.fb-block-fileupload .fb-summary-list-extended--heading {
  font-size: 19px;
  font-weight: bold;
}

@media (min-width: 40.0625em) {
  .govuk-file-upload {
    width: 65%;
  }
}
@media (min-width: 55em) {
  .govuk-file-upload {
    width: auto;
  }
}

.fb-control--fileupload--remove {
  border-bottom: solid 1px #bfc1c3;
  margin: 0;
}

@media (min-width: 40.0625em) {
  .fb-control--fileupload--remove {
    position: absolute;
    right: 0;
    margin: -3rem 0 0;
    border-bottom: none;
  }
}

.fb-control--fileupload--remove em {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  margin: 0!important;
  overflow: hidden!important;
  clip: rect(0 0 0 0)!important;
  -webkit-clip-path: inset(50%)!important;
  clip-path: inset(50%)!important;
  white-space: nowrap!important;
}

.fb-summary-list--file-key {
  padding-top: 5px;
}
.fb-summary-list--file-key em {
  font-style: normal;
  display: block;
  white-space: nowrap;
}
@media (min-width:40.0625em) {
  .fb-summary-list--file-key {
    padding-top: 0;
  }
  .fb-summary-list--file-key em {
    display: inline-block;
  }
}
</style>

{% block autocompleteAssets %}
{% if page.$useAutocomplete %}
<link rel="stylesheet" href="/assets/accessible-autocomplete-1.6.2.min.css">
<script type="text/javascript" src="/assets/accessible-autocomplete-1.6.2.min.js"></script>
<script type="text/javascript">
(function () {
  var $autocompleteEls = document.querySelectorAll('.fb-autocomplete')
  $autocompleteEls.forEach(function($autocompleteEl) {
    function getBooleanValue (prop) {
      return !($autocompleteEl.getAttribute('data-autocomplete-' + prop) === 'false')
    }
    var minLength = Number($autocompleteEl.getAttribute('data-autocomplete-minLength'))
    var autoselect = getBooleanValue('autoselect')
    var confirmOnBlur = getBooleanValue('confirmOnBlur')
    var displayMenu = $autocompleteEl.getAttribute('data-autocomplete-displayMenu')
    var showAllValues = getBooleanValue('showAllValues')
    var showNoOptionsFound = getBooleanValue('showNoOptionsFound')

    accessibleAutocomplete.enhanceSelectElement({
      minLength: minLength,
      autoselect: autoselect,
      confirmOnBlur: confirmOnBlur,
      displayMenu: displayMenu,
      showAllValues: showAllValues,
      showNoOptionsFound: showNoOptionsFound,
      defaultValue: '',
      selectElement: $autocompleteEl
    })
  })
})()
</script>
{% endif %}
{% endblock %}

{% endblock %}

{% block footer %}
{% if page.footer %}
{{ govukFooter(page.footer) }}
{% endif %}
{% endblock %}
