{% extends "base.njk.html" %}

{% block styles %}
  {{super()}}

  {% if page.$useAutocomplete %}
  <link rel="stylesheet" href="/assets/stylesheets/component/autocomplete-{{version}}.css" />
  {% endif %}
  <link rel="stylesheet" href="/assets/stylesheets/component/timeout-warning-{{version}}.css" />
{% endblock %}

{% block skipLink %}
{{ super() }}
{% block cookiesMessage %}
{% if page.cookieMessage %}
<div id="global-cookie-message">
<p class="CookieMessage govuk-body-s govuk-width-container">
<span data-block-name="CookieMessage">{{ page.cookieMessage | safe }}</a></span>
</p>
</div>
{% endif %}
{% endblock %}
{% endblock %}

{% block beforeContent %}
{% if page.previouspage -%}
{{ callMacro('govukBackLink', {
  "href": page.previouspage,
  "text": page.backLink
}) }}
{%- endif %}
{% endblock %}

{% block content %}

{% block errorContent %}
{% if page.errorList %}
{{ callMacro('govukErrorSummary', {
  titleHtml: page.errorTitle,
  errorList: page.errorList
}) }}
{% endif %}
{% endblock %}

{% block flashMessages %}
{% if page.flashMessages %}
{{ callMacro('flashmessages', {
  messages: page.flashMessages
})}}
{% endif %}
{% endblock %}

{% block prePageContentHeading %}{% endblock %}

<div class="fb-main-grid-wrapper fb-mode-{{page.EDITMODE}}" data-block-id="{{ page._id }}" data-block-type="page"{% if page.enableSteps or page.steps.length %} data-block-steps="yes"{% endif %} data-block-pagetype="{{ page._type }}">
<div class="govuk-grid-row">
{% set columns = 'two-thirds' %}
{% if page.columns %}
{% set columns = page.columns %}
{% endif %}
<div class="govuk-grid-column-{{ columns }}">

{% block pageContent %}

{{ callMacro('timeoutWarning', page.sessionDuration)}}

{% block pageContentHeading %}
{% if page._type !== 'page.start' -%}
{% if page.sectionHeading -%}
<p class="govuk-caption-l fb-sectionHeading" data-block-id="{{ page._id }}" data-block-property="sectionHeading">{{ page.sectionHeading | safe }}</p>
{%- endif %}
{%- endif %}
{% if page.heading -%}
<h1 class="{{ page.headingClass }}" data-block-id="{{ page.$headingId or page._id }}" data-block-property="{{ page.$headingProperty or 'heading' }}">{{ page.heading | safe }}</h1>
{% endif %}
{% if page.lede -%}
<p class="govuk-body-l" data-block-id="{{ page.$ledeId or page._id }}" data-block-property="{{ page.$ledeProperty or 'lede' }}">{{ page.lede | safe }}</p>
{%- endif %}
{% endblock %}

{% block pageContentBody %}
{% if page.body -%}
<div class="fb-body govuk-prose-scope" data-block-id="{{ page._id }}" data-block-property="body">{{ page.body | safe }}</div>
{%- endif %}

{% if page.EDITMODE != 'edit' %}
<form method="post"{% if page.action %} action="{{ page.action }}"{% endif %}{% if page.encType %} enctype="multipart/form-data"{% endif %}{% if page.autocomplete %} autocomplete="{{ page.autocomplete }}"{% endif %} novalidate>
{# default submit control - ie. triggered if user hits return in a text input #}
<input type="submit" style="display: none" aria-hidden="true">

{% if _csrf %}
<input type="hidden" name="_csrf" value="{{ _csrf }}">
{% endif %}

{% if page.changePage %}
<input type="hidden" name="changePage" value="{{ page.changePage }}">
{% endif %}

{% if page.uploadPage %}
<input type="hidden" name="uploadPage" value="{{ page.uploadPage }}">
{% endif %}
{% endif %}

{% block pageContentComponents %}
{{- callComponents(page, 'components') -}}
{% endblock %}

{% block pageContentAction %}

{% if page.actions %}
{{ callBlock(page.actions) }}
{% endif %}

{% if page.EDITMODE != 'edit' %}
</form>
{% endif %}

{% endblock %}

{% if page.extraComponents %}
{{- callComponents(page, 'extraComponents') -}}
{% endif %}
{% endblock %}

{% endblock %}

</div>
{% if page.asideComponents %}
<div class="govuk-grid-column-one-third">
{{- callBlocks(page.asideComponents) -}}
</div>
{% endif %}
</div>
</div>
{% endblock %}{# end content #}

{% block bodyEnd %}
  {{ super() }}

  {% if page.$useAutocomplete %}
  <script src="/assets/javascripts/component/autocomplete-{{version}}.js"></script>
  {% endif %}
{% endblock %}

{% block footer %}
{% if page.footer %}
{{ govukFooter(page.footer) }}
{% endif %}
{% endblock %}
