:where(html) {
  line-height: 1.15
}

:where(h1) {
  font-size: 2em;
  -webkit-margin-after: .67em;
  margin-block-end: .67em;
  -webkit-margin-before: .67em;
  margin-block-start: .67em
}

:where(dl,ol,ul) :where(dl,ol,ul) {
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0
}

:where(hr) {
  box-sizing: content-box;
  color: inherit;
  height: 0
}

:where(pre) {
  font-family: monospace,monospace;
  font-size: 1em
}

:where(abbr[title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

:where(b,strong) {
  font-weight: bolder
}

:where(code,kbd,samp) {
  font-family: monospace,monospace;
  font-size: 1em
}

:where(small) {
  font-size: 80%
}

:where(table) {
  border-color: currentColor;
  text-indent: 0
}

:where(button,input,select) {
  margin: 0
}

:where(button) {
  text-transform: none
}

:where(button,
input:is([type=button i],[type=reset i],[type=submit i])) {
  -webkit-appearance: button
}

:where(progress) {
  vertical-align: baseline
}

:where(select) {
  text-transform: none
}

:where(textarea) {
  margin: 0
}

:where(input[type=search i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

:where(button,
input:is([type=button i],[type=color i],[type=reset i],[type=submit i]))::-moz-focus-inner {
  border-style: none;
  padding: 0
}

:where(button,
input:is([type=button i],[type=color i],[type=reset i],[type=submit i]))::-moz-focusring {
  outline: 1px dotted ButtonText
}

:where(:-moz-ui-invalid) {
  box-shadow: none
}

:where(dialog) {
  background-color: #fff;
  border: solid;
  color: #000;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content
}

:where(dialog:not([open])) {
  display: none
}

:where(summary) {
  display: list-item
}

.autocomplete__wrapper {
  position: relative
}

.autocomplete__hint,
.autocomplete__input {
  -webkit-appearance: none;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 0;
  width: 100%
}

.autocomplete__input {
  background-color: transparent;
  position: relative
}

.autocomplete__hint {
  color: #b1b4b6;
  position: absolute
}

.autocomplete__input--default {
  padding: 5px
}

.autocomplete__input--focused {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px
}

.autocomplete__input--show-all-values {
  padding: 5px 34px 5px 5px;
  cursor: pointer
}

.autocomplete__dropdown-arrow-down {
  z-index: -1;
  display: inline-block;
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  top: 10px
}

.autocomplete__menu {
  background-color: #fff;
  border: 2px solid #0b0c0c;
  border-top: 0;
  color: #0b0c0c;
  margin: 0;
  max-height: 342px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  width: calc(100% - 4px)
}

.autocomplete__menu--visible {
  display: block
}

.autocomplete__menu--hidden {
  display: none
}

.autocomplete__menu--overlay {
  box-shadow: 0 2px 6px rgba(0,0,0,.256863);
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100
}

.autocomplete__menu--inline {
  position: relative
}

.autocomplete__option {
  border-left-width: 0;
  border-bottom: 1px solid #b1b4b6;
  border-right-width: 0;
  border-top-width: 1px;
  cursor: pointer;
  display: block;
  position: relative
}

.autocomplete__option > * {
  pointer-events: none
}

.autocomplete__option:first-of-type {
  border-top-width: 0
}

.autocomplete__option:last-of-type {
  border-bottom-width: 0
}

.autocomplete__option--odd {
  background-color: #fafafa
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: #1d70b8;
  border-color: #1d70b8;
  color: #fff;
  outline: 0
}

@media (-ms-high-contrast:active),
(forced-colors:active) {
  .autocomplete__menu {
    border-color: FieldText
  }

  .autocomplete__option {
    background-color: Field;
    color: FieldText
  }

  .autocomplete__option--focused,
  .autocomplete__option:hover {
    forced-color-adjust: none;
    background-color: SelectedItem;
    border-color: SelectedItem;
    color: SelectedItemText;
    outline-color: SelectedItemText
  }
}

.autocomplete__option--no-results {
  background-color: #fafafa;
  color: #646b6f;
  cursor: not-allowed
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  font-size: 16px;
  line-height: 1.25
}

.autocomplete__hint,
.autocomplete__option {
  padding: 5px
}

@media (min-width:641px) {
  .autocomplete__hint,
  .autocomplete__input,
  .autocomplete__option {
    font-size: 19px;
    line-height: 1.31579
  }
}
/*# sourceMappingURL=autocomplete-1.4.13.css.map */
