{%- macro uploadCheck(data) %}
  {% if data.upload %}
     <input type="hidden" name="uploadPage" value="{{ data.uploadPage }}">

    {% for upload in data.upload %}
      <input type="hidden" name="upload" value="{{ upload.uuid }}">
    {% endfor %}
  {% endif %}
{% endmacro -%}
