{%- macro uploadCheck(data) %}
  {% if data.uploadDescriptions.length %}
    <div class="fb-upload-descriptions">
      <ul>
      {% for uploadDescription in data.uploadDescriptions %}
        <li class="govuk-body-l">
          <strong>{{ uploadDescription }}</strong>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if data.acceptedList.length %}
    {% for accepted in data.acceptedList %}
      <input type="hidden" name="upload-component-accept-id" value="{{ accepted.uuid }}">
    {% endfor %}
  {% endif %}
{% endmacro -%}
