{% macro flashmessages(data) %}
{% if data.messages.length %}
  {% if (data._type) and (data._type == "page.uploadCheck") %}
    <div class="govuk-error-summary
      {%- if data.classes %} {{ data.classes }}{% endif %}" aria-labelledby="info-summary-title" role="alert" tabindex="-1"
      {%- for attribute, value in data.attributes %} {{ attribute }}="{{ value }}"{% endfor %} data-module="info-summary">
  {% else %}
     <div class="govuk-error-summary fb-info-summary fb-flash-summary
       {%- if data.classes %} {{ data.classes }}{% endif %}" aria-labelledby="info-summary-title" role="alert" tabindex="-1"
       {%- for attribute, value in data.attributes %} {{ attribute }}="{{ value }}"{% endfor %} data-module="info-summary">
  {% endif %}
  {% if data.title %}
  <h2 class="govuk-error-summary__title fb-info-summary__title" id="info-summary-title">
    {{ data.title | safe }}
  </h2>
  {% endif %}
  <div class="govuk-error-summary__body fb-info-summary__body">
    {% if data.description %}
    <p>
      {{ data.description | safe  }}
    </p>
    {% endif %}
    <ul class="govuk-list govuk-error-summary__list fb-info-summary__list">
    {% for item in data.messages %}
      <li>
      {% if item.href %}
        <a href="{{ item.href }}">{{ item.html | safe }}</a>
      {% else %}
        {{ item.html | safe }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endmacro %}
